
body, .wrapper {
    margin: 0;
}

header {
    background-color: aliceblue;
    text-align: center;
    padding: 5px;
    margin-bottom: 50px;
}

footer {
    margin-top: 250px;
    background-color: cadetblue;
    padding: 10px;
}

@media only screen and (min-width: 250px) {
    .main-section {
        max-width: 90%;
        margin: 0 auto;

        label {
            font-size: 18px;
            font-weight: 600;
        }

        input {
            border: none;
            padding: 20px;
            background-color: antiquewhite;
            margin-bottom: 10px;
        }

        button {
            padding: 10px 15px;
        }
    }
}

section {
    .data-container {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        @media only screen and (min-width: 550px) {
            #location-image {
                img {
                    width: 500px;
                    height: 300px;
                }
            }
        }

        @media only screen and (max-width: 550px) {
            #location-image {
                img {
                    width: 250px;
                    height: 150px;
                }
            }
        }

        #location-and-date {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 20px;
        }
    }
}